<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div style="background-color: yellow;">Ikraam</div>
    <div style="background-color: yellow;">Hassan</div>
    <span style="background-color: green;">Salmaan</span>
    <span style="background-color: green;">Adnaan</span>
    <p>Sihaam Hassan</p>
</body>
</html>